.flip-card-3D-wrapper {
  position: center;
  -webkit-perspective: 900px;
  perspective: 900px;
  margin-bottom: 50%;
  width: 25rem;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  
}

#flip-card {
  width: 100%;
  height: 100%;
  text-align: center;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.do-flip {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#flip-card .flip-card-front,
#flip-card .flip-card-back {
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

#flip-card .flip-card-front .flip-card-back {
  border: 1px solid grey;
}

#flip-card .flip-card-back {
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#flip-card .flip-card-front,
#flip-card .flip-card-back {
  /**/
  color: black;
  display: block;
}

.flip-card-3D-wrapper,
form {
  padding: 10px;
}


.autocomplete {
  position: relative;
  display: inline-block;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

.error {
  width: 92%;
  margin: 1px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/*  */

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
}
input:focus,input:hover{
    box-shadow: 0 0 8px rgb(31, 165, 175);
    border: none;
}
form {
  border: 2px solid #3c763d;
  background-color: #999;
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.7)
  ,inset -8px -8px 6px rgba(200, 200, 200, 1);
  border-radius: 10px 0px 10px 0px;
}


select {
  margin: 10px 5px 10px 5px;
  width: 100%;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 10px;
  background-color: #3c763d;
  color: #dff0d8;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.7);
}
input[type="submit"]:hover {
  box-shadow: 4px 3px 5px 1px rgba(0, 0, 0, 0.7);
}

* {
  text-shadow: 1px 1px rgba(31, 165, 175, 0.459);
}

body {
  /* height: 100%;
  width: 100%;
  background-image: url(/images/pexels-photo-1020320.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font: 16px Arial;
  font-family: "Open Sans", sans-serif;
}



ul {
  list-style-type: lower-greek;
}
li {
  margin: 1rem;
}


nav ul {
  list-style-type: none;
}

nav ul > li {
  display: inline-block;
}




#popup {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.7);
  border: 2px solid #34686a;
  background-color: #999;
}

/* ******************************************************************************************** */



.header {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.button1 {
  vertical-align: middle;
  position: relative;
  border-radius: 15px;
  background-color: #5f9ea0;
  padding: 5px 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #999;
}

.button1:hover {
  background-color: #34686a;
}

.button1:active {
  background-color: #34686a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*/ /////////////////###################################################################################################//////////////////////*/


.button:hover {
  
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.7);
}

.button {
  border-radius: 4px;
  background-color: #e9e9e9;
  padding: 10px;
  color: #333333;
  margin: 5px;
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.7);
}

.button,
.button1 {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
}

/*/ /////////////////###################################################################################################//////////////////////*/
.form1,
.content {
  width: 100%;
  padding: 0px;
  border-radius: 0px 0px 10px 10px;
}


@media screen and (max-width: 400px) {
  .flip-card-3D-wrapper {
    width: 100%;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: wheat;
  background: #34686a;
}

::selection {
  color: wheat;
  background: #34686a;
}
